* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

/* toevoegen font*/

@font-face {
    font-family: "Myriad pro";
    src: local("myriadpro"), url ("MyriadPro-Regular.otf")format ("otf");
}

@font-face {
    font-family: "NS sans";
    src: local("nssans__-webfont"), url ("nssans__-webfont.ttf")format ("ttf");
}

/* body */

body {
    background-color: #e7e6e9;
    color: #2575bb;
    font-family: "NS sans", "Myriad pro", "Verdana";
}


/* img alzheimer */

#alzheimer {
    background-image: url("img/newalzheimer-09.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 25em;
    height: 115em;
}

@media (min-width: 44em) {
    #alzheimer {
        background-image: url("img/newalzheimer-08.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 80em;
        height: 130em;
    }
}

/* img kinderboek*/

#kinderboek {
    background-image: url("img/Kinderboekverhaallaag-04.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 25em;
    height: 130em;
}

@media (min-width: 44em) {
    #kinderboek {
        background-image: url("img/Kinderboekverhaallaag-02.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 150em;
        height: 50em;
    }
}

/* img blind*/

#blind {
    background-image: url("img/verschillende-05.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 25em;
    height: 190em;
}

@media (min-width: 44em) {
    #blind {
        background-image: url("img/verschillende-07.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 60em;

    }
}

@media (min-width: 80em) {
    #blind {
        background-image: url("img/verschillende-06.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 110%;


    }
}
