/* hovers:https://codepen.io/nxworld/pen/ZYNOBZ*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

/* toevoegen font*/

@font-face {
    font-family: "Myriad pro";
    src: local("myriadpro"), url ("MyriadPro-Regular.otf")format ("otf");
}

@font-face {
    font-family: "NS sans";
    src: local("nssans__-webfont"), url ("nssans__-webfont.ttf")format ("ttf");
}

/* body */

body {
    background-color: #e7e6e9;
    color: #2575bb;
    font-family: "NS sans", "Myriad pro", "Verdana";
}


/* img alzheimer */

#alzheimer {
    background-image: url("img/Alzheimerverhaalneww-09.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 25em;
    height: 115em;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#alzheimer:hover {
    -webkit-filter: blur(0);
    filter: blur(0);
}

@media (min-width: 44em) {
    #alzheimer {
        background-image: url("img/Alzheimerverhaalneww-10.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        -webkit-filter: blur(3px);
        filter: blur(3px);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
}

@media (min-width: 80em) {
    #alzheimer {
        background-image: url("img/Alzheimerverhaalneww-08.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 80em;
        height: 130em;
        -webkit-filter: blur(3px);
        filter: blur(3px);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
}

/* img kinderboek*/

#kinderboek {
    background-image: url("img/Kinderboekverhaallaag-04.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 25em;
    height: 130em;
    margin-left: 0px;
    transform: scale(1.0);
    transition: .3s ease-in-out;
}

#kinderboek:hover {
    margin-left: 2em;

}

@media (min-width: 44em) {
    #kinderboek {
        background-image: url("img/Kinderboekverhaallaag-02.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 150em;
        height: 50em;
    }
}

/* img blind*/

#blind {
    background-image: url("img/verschillende-05.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 25em;
    height: 190em;
    transition: .3s ease-in-out;
}

#blind:hover {
    width: 1em;

}

@media (min-width: 44em) {
    #blind {
        background-image: url("img/verschillende-07.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 60em;
    }
}

@media (min-width: 80em) {
    #blind {
        background-image: url("img/verschillende-06.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 110%;
    }
}

section {
    background-color: white;
    padding: 1em;
    max-width: 25em;
    margin: 2em;
}

section p {
    margin-bottom: 1em;
}

@media(min-width: 44em) {
    section {
        margin: 2em auto;
    }
}

section > a {
    background-color: #2575bb;
    box-shadow: 0 0.1em 0.1em #223a72;
    color: white;
    text-align: center;
    padding: 0.6em;
    width: 50%;
}

footer img:nth-of-type(1) {
    height: 2em;
    background: white;
}

footer img:nth-of-type(2) {
    height: 2em;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
}

footer p {
    background-color: #e4b32f;
    color: #223a72;
    float: left;
    padding: 0.5em;
}
