* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

/* toevoegen font*/

@font-face {
    font-family: "Myriad pro";
    src: local("myriadpro"), url ("MyriadPro-Regular.otf")format ("otf");
}

@font-face {
    font-family: "NS sans";
    src: local("nssans__-webfont"), url ("nssans__-webfont.ttf")format ("ttf");
}

/* body */

body {
    background-color: #e7e6e9;
    color: #2575bb;
    font-family: "NS sans", "Myriad pro";

}


/* foto bovenaan*/

#reading {
    max-height: 20em;
    width: 100%;

}

/* Zoekbalk*/

/* Navigatie in de main*/

main nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: -1em 2em 1.5em 2em;
}

main nav ul {
    background: #fec818;

}

main nav ul li {
    margin: 1em;

}

/* sorteren = submenu */

#submenu {
    display: none;

}

main > a {
    background-color: #223a72;
    color: white;
    padding: 1em;


}

#submenu:target {
    background-color: white;
    display: block;
    margin-top: 1em;
    width: 11em;
    box-shadow: 0 0.1em 0.1em #223a72;


}

#submenu a {
    color: black;
    text-decoration: none;

}

/* Artikelen*/

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h3 {
    color: #223a72;
    font-size: 2em;
}

article {
    background-color: white;
    margin: 2em;
    max-width: 35em;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

#heart {
    height: 2em;
}

#add {
    height: 2em;
}

/* footers in artikelen*/

footer {
    font-size: 0.8em;
}

footer a {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1em;

}

footer p {
    background-color: #e4b32f;
    color: #223a72;
    float: left;
    margin-top: 2em;
    padding: 0.5em;

}

#leesverder {
    background-color: #2575bb;
    color: white;
    text-align: center;
    padding: 0.6em;
    width: 50%;
    box-shadow: 0 0.1em 0.1em #223a72;
}
