* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

/* toevoegen font*/

@font-face {
    font-family: "Myriad pro";
    src: local("myriadpro"), url ("MyriadPro-Regular.otf")format ("otf");
}

@font-face {
    font-family: "NS sans";
    src: local("nssans__-webfont"), url ("nssans__-webfont.ttf")format ("ttf");
}

/* body */

body {
    background-color: #e7e6e9;
    color: #2575bb;
    font-family: "NS sans", "Myriad pro", "Verdana";
}

/* foto bovenaan*/

body > img {
    max-height: 20em;
    width: 100%;

}

/* Navigatie in de main*/

main nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: -1em 2em 1.5em 2em;
}

main nav ul {
    background: #fec818;

}

main nav ul li {
    margin: 1em;
}

/* sorteren = submenu */

#submenu {
    display: none;
}

main > a {
    background-color: #223a72;
    color: white;
    padding: 1em;
}

#submenu:target {
    background-color: white;
    display: block;
    margin-top: 1em;
    width: 11em;
    box-shadow: 0 0.01em 0.01em #223a72;
}

#submenu a {
    color: black;
    text-decoration: none;
}

/* Artikelen*/

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

h2 {
    color: #223a72;
    font-size: 2em;
}

article {
    background-color: white;
    margin: 2em;
    max-width: 35em;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

article:nth-of-type(1):hover {
    background-image: url("img/hoverfoto.jpg");
}

article:nth-of-type(3):hover {
    background-image: url("img/hoverfotoblind.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 35em;
    height: 22.2em;
}

article:nth-of-type(4):hover {
    background-image: url("img/hoverfotokinder-05.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 35em;
    height: 22.2em;
}

/* media query om de pagina responsive te maken */

@media(min-width: 20em) {
    article {
        max-width: 22em;
    }
}

/* hartje in artikel */

footer img:nth-of-type(1) {
    height: 2em;
}

footer img:nth-of-type(2) {
    height: 2em;
    position: relative;
    margin-left: 2.5em;
    opacity: 0;
}

footer img:nth-of-type(2).rood {
    transition: all 0.2s;
    opacity: 1;
}

/* plusje in artikel */

footer img:nth-of-type(3) {
    height: 2em;
}


/*#eentje.yay {
    transition: all 0.2s;
    opacity: 1;
}

/*.toevoegen {
    transition: all 0.2s;
}*/

/* footers in artikelen*/

footer {
    font-size: 0.8em;
}

footer img,
footer img {
    margin: 2em 0 0 2em;
}

footer p {
    background-color: #e4b32f;
    color: #223a72;
    float: left;
    margin-top: 2em;
    padding: 0.5em;
}

article a {
    background-color: #2575bb;
    box-shadow: 0 0.1em 0.1em #223a72;
    color: white;
    margin-top: 1em;
    padding: 0.6em;
    text-align: center;
    width: 50%;

}

/* VRIENDEN PAGINA*/

#leuk {
    color: lightgrey;
    font-size: 0.8em;
    margin-bottom: 1em;
    ]
}


/* VERHALENLIJST PAGINA*/
