main {
    background-color: white;
    margin: 2em;
    max-width: 40em;
    padding: 2em;
}

@media(min-width: 44em) {
    main {
        margin: 2em auto;
    }
}

fieldset {
    text-align: left;
    border: none;
}

fieldset input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

input[type=text]:focus {
    background-color: #e7e6e9;
}

h2 {
    color: #223a72;
    font-size: 1.8em;
    margin-bottom: 0.8em;
}

legend {
    margin-bottom: 1em;
}

label {
    font-size: 0.8em;
}

#facebook,
#aanmelden {
    background-color: #39589b;
    box-shadow: 0 0.1em 0.1em #223a72;
    color: white;
    display: block;
    margin-top: 1em;
    padding: 0.7em;
    text-align: center;
}

#aanmelden {
    background-color: #2575bb;

}
